<footer class="mt-3 border-top font-vazir" style="background-color: #f9fafb">
  <link rel="stylesheet" href="/css/footer.css" />

  <div class="container-fluid">
    <a
      class="text-decoration-none text-center text-primary font-amin user-select-none fs-3"
      href="/"
      >پنجره</a
    >
    <div class="row p-3 justify-content-center">
      <div class="col-md-3">
        <p>برخی از شهر ها</p>
        <ul>
          <li class="mt-2">
            <a
              class="item-footer"
              href="https://panjerh.ir/sell?loaction=خرم آباد"
              >خرم آباد</a
            >
          </li>
          <li class="mt-2">
            <a class="item-footer" href="https://panjerh.ir/sell?loaction=کوهدشت"
              >کوهدشت</a
            >
          </li>
          <li class="mt-2">
            <a class="item-footer" href="https://panjerh.ir/sell?loaction=پلدختر"
              >پلدختر</a
            >
          </li>
          <li class="mt-2">
            <a
              class="item-footer"
              href="https://panjerh.ir/sell?loaction=نورآباد"
              >نورآباد</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <p>لینک های کاربردی</p>
        <ul>
          <li class="mt-2"><a class="item-footer" href="/auth"> ورود </a></li>
          <li class="mt-2"><a class="item-footer" href="/auth"> ثبت نام </a></li>
          <li class="mt-2"><a class="item-footer"  download href="/amlaki.pptx"> دانلود مستندات سایت </a></li>
          <li class="mt-2"><a class="item-footer" href="/sitemap.xml"> نقشه سایت </a></li>
        </ul>
      </div>
      <div class="col-md-4 mt-5 align-self-center">
        <label for="boxEmail" class="fw-bolder title-news mb-1"
          >برای عضویت در خبر نامه ایمیل خودتونو وارد کنید</label
        >
        <div class="boxNews">
          <input
            type="email"
            class="form-control rounded-end-0"
            id="boxEmail"
            placeholder="test@gmail.com"
          />
          <button
            class="btn btn-success rounded-start-0 d-flex align-items-center justify-content-center"
            disabled
            id="btnNews"
          >
            عضویت
          </button>
        </div>
      </div>
      <div class="col-12 mt-5">
        <h1 class="text-primary fs-5">پنجره چیست؟</h1>
        <div class="dis overflow-hidden" style="height: 25px">
          <p>به دنیای املاک و مستغلات پنجره خوش آمدید!</p>
          <p>
            مرکز تخصصی خرید، فروش، رهن و اجاره املاک در ایران پنجره، با سابقه
            درخشان در زمینه املاک و مستغلات، بستری امن و آسان برای خرید، فروش،
            رهن و اجاره انواع املاک مسکونی، تجاری، اداری و ... در سراسر ایران
            فراهم کرده است. با ورود به پنجره می توانید:
          </p>
          <ul>
            <li>
              گهی های ملکی خود را ثبت کنید و به میلیون ها خریدار و متقاضی بالقوه
              در سراسر کشور دسترسی پیدا کنید.
            </li>
            <li>
              ملک مورد نظر خود را در هر نقطه از ایران با استفاده از فیلترهای
              پیشرفته جستجو کنید و آگهی های ملکی را بر اساس قیمت، متراژ، موقعیت
              مکانی، نوع ملک و ... فیلتر کنید.
            </li>
            <li>
              به طور مستقیم با آگهی دهندگان تماس بگیرید و برای بازدید از ملک و
              یا مذاکره در مورد قیمت با آنها قرار ملاقات بگذارید.
            </li>
            <li>
              ملک های مورد علاقه خود را ذخیره کنید و به راحتی به آنها دسترسی
              داشت باشید
            </li>
            <li>
              از خدمات مشاوره املاک متخصصان ما به صورت رایگان بهره مند شوید و از
              راهنمایی و مشاوره تخصصی آنها در زمینه خرید، فروش، رهن و اجاره ملک
              استفاده کنید.
            </li>
          </ul>
          <p>چرا پنجره را انتخاب کنید؟</p>
          <ul>
            <li>
              تنوع آگهی ها: در پنجره می توانید آگهی های متنوعی از انواع املاک
              مسکونی تجاری، اداری و ... را پیدا کنید.
            </li>
            <li>
              قیمت مناسب: در پنجره می توانید ملک مورد نظر خود را با قیمتی مناسب
              پیدا کنید.
            </li>
            <li>
              دسترسی آسان: به راحتی می توانید از طریق وب سایت یا اپلیکیشن پنجره
              به آگهی های ملکی دسترسی داشته باشید.
            </li>
            <li>
              مشاوران قوی: تیم مشاوران پنجره به طور 24/7 آماده پاسخگویی به
              سوالات شما هستند.
            </li>
          </ul>
          <p>همین امروز به خانواده بزرگ پنجره بپیوندید !❤</p>
        </div>
        <span
          class="text-info d-flex align-items-center user-select-none"
          style="cursor: pointer"
          id="btn-dis"
        >
          نمایش بیشتر<span class="material-symbols-outlined">
            expand_more
          </span>
        </span>
      </div>
    </div>
    <hr />
    <p class="text-body-secondary text-center">
      کلیه حقوق این سایت متعلق به مدرسه گلپایگانی است
    </p>
  </div>
  <script src="/js/footer.js"></script>
</footer>
