<div>
    <span class="h1 fw-bold text-dark" style="font-size: 150px;">
        <%= number1 %>
    </span>
    <span class="h1 fw-bold text-primary" style="font-size: 150px;">
        <%= number2 %>
    </span>
    <span class="h1 fw-bold text-dark" style="font-size: 150px;">
        <%= number3 %>
    </span>
    <p class="fw-bold fs-5" style="margin-top: -24px;"><%= bio %></p>
</div>