<div class="container-fluid font-vazir position-relative">
  <div class="row" style="height: 100vh">
    <div
      class="col-12 col-md-6 p-2 border d-flex align-items-center justify-content-center flex-column"
    >
      <% if(msg) {%>
      <div
        class="alert box-alert alert-success z-2 d-flex py-3 px-4 user-select-none justify-content-between flex-row-reverse align-items-center position-absolute overflow-hidden"
        style="
          width: 350px;
          transition: 0.5s;
          top: 10px;
          right: 10px;
          cursor: pointer;
        "
      >
        <button class="btn-close" id="btn-close"></button>
        <div class="d-flex align-items-center">
          <span
            class="material-symbols-outlined text-success fs-3 fw-bold me-2"
          >
            done
          </span>
          <%= msg %>
        </div>
        <div
          id="prog"
          class="position-absolute bg-success bottom-0 end-0"
          style="height: 3px"
        ></div>
      </div>
      <% } %>

      <div
        class="col-12 col-md-7 mt-2 px-5 py-3 rounded-3 border bg-light"
        id="authform"
      >
        <% if(page == "login") {%> <% if(errorLogin) {%>
        <div
          class="alert box-alert alert-danger z-2 d-flex py-3 px-4 user-select-none justify-content-between flex-row-reverse align-items-center position-absolute overflow-hidden"
          style="
            width: 350px;
            transition: 0.5s;
            top: 10px;
            right: 10px;
            cursor: pointer;
          "
        >
          <button class="btn-close" id="btn-close"></button>
          <div class="d-flex align-items-center">
            <span class="material-symbols-outlined"> warning </span>
            <%= errorLogin %>
          </div>
          <div
            id="prog"
            class="position-absolute bg-danger bottom-0 end-0"
            style="height: 3px"
          ></div>
        </div>
        <% } %>
        <h1 class="h5 d-flex align-items-center justify-content-center">
          ویرایش رمز عبور
        </h1>
        <form action="/resetPassword/<%= token %>" method="post">
          <label for="email" class="form-label text-muted mt-3"
            > رمز عبور جدید
          </label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="123456789"
          />

          <div class="text-center">
            <button class="btn btn-primary mt-3 m-auto">
              ویرایش رمز عبور
            </button>
          </div>
        </form>
        <% }%>
      </div>
    </div>
    <div
      class="col-12 col-md-6 p-2 position-relative d-flex align-items-center justify-content-center border text-center bg-light"
    >
      <div class="w-75">
        <a
          class="text-decoration-none text-primary font-amin user-select-none fs-3"
          href="#"
          >پنچره</a
        >
        <br /><br />
        <p>
          به
          <a href="https://panjerh.ir" class="text-primary fw-bold">پنجره</a>
          خوش آمدید! مرکز تخصصی خرید، فروش و رهن و اجاره املاک. با ورود به حساب
          کاربری خود در
          <a href="https://panjerh.ir" class="text-primary fw-bold">پنجره</a> می
          توانید آگهی های ملکی خود را ثبت کنید، ملک مورد نظر خود را جستجو کنید،
          با آگهی دهندگان تماس بگیرید و از جدیدترین آگهی ها مطلع شوید.
        </p>
      </div>
    </div>
  </div>
</div>
<script>
  try {
    const btnClose = document.getElementById("btn-close");
    const prog = document.getElementById("prog");
    const boxAlert = document.querySelector(".box-alert");
    btnClose.addEventListener("click", (event) => {
      event.target.parentElement.style.opacity = 0;
    });

    var withProg = 100;
    prog.style.width = "100%";
    let time = setInterval(() => {
      if (withProg <= 0) {
        prog.parentElement.remove();
      }
      withProg--;
      prog.style.width = `${withProg}%`;
    }, 80);

    boxAlert.addEventListener("mousemove", () => {
      withProg = 100;
      console.log("muse");
    });
  } catch (err) {
    err = err;
  }
</script>
