<h1 class="h1 m-3 fs-3 fw-bold">ثبت اگهی</h1>
<div class="container-fluid" id="adDiv">

  <div class="row justify-content-around">
    <button id="sell" class="btn btn-primary col-5 p-2 fs-5 fw-bold">
      فروش ملک
    </button>
    <button id="rent" class="btn btn-primary col-5 p-2 fs-5 fw-bold">
      اجاره ملک
    </button>
  </div>
</div>
<script src="/js/adUser.js"></script>
