<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= pageTitle %>
  </title>

  <!-- google index -->
  <%- include('../inc/metaTagGoogle.ejs') %>

    <!-- bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.rtl.min.css" />

    <!-- fonts -->
    <link rel="stylesheet" href="/css/amin.css" />
    <link rel="stylesheet" href="/css/vazir.css" />

    <!-- menu -->
    <link rel="stylesheet" href="/css/menu.css" />

    <!-- box msg -->
    <link rel="stylesheet" href="/css/msgBox.css" />

    <!-- google icon -->
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
  <%- body %>

    <!-- user Controller -->
    <script src="/js/userController.js"></script>
</body>

</html>